.sidenav-content-toolbar{
	background-color: #4b88bb;
	box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);

}
.toolbar-title{
	color:#fff;
	margin: auto;
}

/*************====Page-content====*****************/

.page-content{
	padding: 20vh 25vw 0;
	margin-left: -10px;
}
.page-content.one-col{
	padding: 20vh 30vw 0;
	margin-left: -10px;
}
.page-content.two-rows{
	padding-top: 10vh;
}
.page-content.three-cols{
	padding-left: 20vw;
	padding-right: 20vw;
}

/**************====Grid====*****************/
.grid{

}

.grid-tile{
	border: 1px solid #eee;
	padding: 5px;
	margin: 5px;
	background-color: #ddd;
	cursor: pointer;
	box-shadow:0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
	animation-name: appear;
	animation-duration: 1.5s;
}
.grid-tile[ng-reflect-colspan="2"]{
	animation-name: appear-cols2;
}
.grid-tile-cols3{
	@extend .grid-tile;
	animation-name: appear-cols3;
}
.grid-tile-col1{
	@extend .grid-tile;
	animation-name: appear-col1;
}
.grid-tile-content{
	height: 100%;
	width: 100%;

}

@keyframes appear {
	0% {height: 0; width: 0;}
	100% { height: 200px; width: calc(((50% - 12.5px) * 1) + 0px);}
}
@keyframes appear-col1 {
	0% {height: 0; width: 0;}
	100% { height: 200px; width: calc(((100% - 0px) * 1) + 0px);}
}
@keyframes appear-cols2 {
	0% {height: 0; width: 0;}
	100% { height: 200px; width: calc(((50% - 12.5px) * 2) + 0px);}
}
@keyframes appear-cols3 {
	0% {height: 0; width: 0;}
	100% { height: 200px; width: calc(((33.333% - 16.667px) * 1) + 0px);}
}

/*********===Media queries===*************/
@media screen and (max-width: 1440px) {
	.page-content{
		padding: 20vh 20vw 0;
	}
	.page-content.one-col{
	padding: 20vh 25vw 0;
	margin-left: -10px;
  }
	.page-content.three-cols{
		padding-left: 15vw;
		padding-right: 15vw;
	}
}
@media screen and (max-width: 1280px) {
	.page-content{
		padding: 20vh 15vw 0;
	}
	.page-content.one-col{
	padding: 20vh 20vw 0;
	margin-left: -10px;
  }
	.page-content.three-cols{
		padding-left: 10vw;
		padding-right: 10vw;
	}
}
@media screen and (max-width: 1024px) {
	.page-content{
		padding: 20vh 10vw 0;
	}
	.page-content.one-col{
	padding: 20vh 15vw 0;
	margin-left: -10px;
  }
	.page-content.three-cols{
		padding-left: 5vw;
		padding-right: 5vw;
	}
}