$sidenav-bgcolor: #4987c7;
$sidenav-toolbar-bgcolor: #4b88bb;
/* Anchors */
a{
	text-decoration: none;
	width: 100%;
	padding: 10px;
	color: #fff;
}
a:visited{
	color: #fff;
}

mat-toolbar{
	color:#fff;
}

.top-toolbar{
	z-index: 2;
}

.button--disabled{
	display: none;
}

.button--disabled-title{
	margin: 0 14px 0 32px;
	color:#fff;
}

.flex-center{
	justify-content: center;
}

.header-top{
	height:150px;
	background-color: green;
}
.header-menu{
	background-color: #28729e;
	box-shadow:0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12)
}

.sidenav-container {
  height: calc(100% - 214px);
}

.sidenav{
	box-shadow: 2px 16px 7px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}

.sidenav-content-toolbar{
	background-color: $sidenav-toolbar-bgcolor;
}

.sidenav-content-navlist{
	padding-top:4px;
}

.button-title{
	padding:1px;
	font-size: 14px;
	color:#fff;
}

mat-nested-tree-node li,
mat-nested-tree-node li ul{
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.mat-nested-tree-node-button{
	display: flex;
	width: -webkit-fill-available;
}

.mat-nested-tree-node-div, .mat-tree-node-list{
	background-color: $sidenav-bgcolor;
	margin: 1px auto;
	color:#fff;
}

.mat-nested-tree-node-div:hover, .mat-tree-node-list:hover{
	background-color: #9fc4e4;	
}

.mat-nested-tree-node-icon{
	margin: 0 8px;
}

.tree-invisible {
  display: none;
}
.mat-button-wrapper{
	width: 100%;
}

.mat-button-ripple-round{
	right: inherit;
	bottom: inherit;
}

.toolbar-icon{}

.toolbar-title{
	margin: auto;
}

.main-content{}

/*************====Page-content====*****************/

.page-content{
	padding: 20vh 25vw 0;
	margin-left: -10px;
}
.page-content.two-rows{
	padding-top: 10vh;
}
.page-content.three-cols{
	padding-left: 20vw;
	padding-right: 20vw;
}
.page-content.one-col{
	padding-left: 35vw;
	padding-right: 35vw;
}

/**************====Grid====*****************/
.grid{

}

.grid-tile{
	border: 1px solid #eee;
	padding: 5px;
	margin: 5px;
	background-color: #ddd;
	cursor: pointer;
	box-shadow:0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
	animation-name: appear;
	animation-duration: 1.5s;
}
/***=In case, there's only one tile=***/
.grid-tile-col1{
	@extend .grid-tile;
	animation-name: appear-cols1;
}
/***=In case, the tile width is 2 cols=***/
.grid-tile[ng-reflect-colspan="2"]{
	animation-name: appear-cols2;
}
/***=In case, three tiles in row=***/
.grid-tile-cols3{
	@extend .grid-tile;
	animation-name: appear-cols3;
}
.grid-tile-content{
	height: 100%;
	width: 100%;

}

@keyframes appear {
	0% {height: 0; width: 0;}
	100% { height: 200px; width: calc(((50% - 12.5px) * 1) + 0px);}
}
@keyframes appear-cols1 {
	0% {height: 0; width: 0;}
	100% { height: 200px; width: calc(((100% - 0px) * 1) + 0px);}
}
@keyframes appear-cols2 {
	0% {height: 0; width: 0;}
	100% { height: 200px; width: calc(((50% - 12.5px) * 2) + 0px);}
}
@keyframes appear-cols3 {
	0% {height: 0; width: 0;}
	100% { height: 200px; width: calc(((33.333% - 16.667px) * 1) + 0px);}
}

/*********===Media queries===*************/
@media screen and (max-width: 1600px) {
	.page-content{
		padding: 20vh 20vw 0;
	}
	.page-content.three-cols{
		padding-left: 15vw;
		padding-right: 15vw;
	}
	.page-content.one-col{
		padding-left: 32vw;
		padding-right: 32vw;
	}
}
@media screen and (max-width: 1280px) {
	.page-content{
		padding: 20vh 15vw 0;
	}
	.page-content.three-cols{
		padding-left: 10vw;
		padding-right: 10vw;
	}
	.page-content.one-col{
		padding-left: 28vw;
		padding-right: 28vw;
	}
}
@media screen and (max-width: 1024px) {
	.page-content{
		padding: 20vh 10vw 0;
	}
	.page-content.three-cols{
		padding-left: 5vw;
		padding-right: 5vw;
	}
	.page-content.one-col{
		padding-left: 23vw;
		padding-right: 23vw;
	}
}