<mat-toolbar class="top-toolbar">
  <mat-toolbar-row class="header-top"></mat-toolbar-row>
  <mat-toolbar-row class="header-menu">
    <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="menuOpen()">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <button type="button" aria-label="Back" mat-icon-button (click)="location.back()">
      <mat-icon aria-label="Back icon">arrow_back</mat-icon>
    </button>
    <button type="button" aria-label="Home" mat-icon-button (click)="toHomePage()">
      <mat-icon aria-label="Home icon">home</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" 
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="false">
    <mat-toolbar class="sidenav-content-toolbar">Choose the region</mat-toolbar>
    
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="sidenav-content-mat-tree-list">

      <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle class="mat-tree-node-list">
        <a href="{{node.link}}" title="{{node.name}}" class="link">
          <li>
            <button mat-icon-button disabled class="button--disabled"></button>
            <span class="button--disabled-title">{{node.name}}</span>
          </li>
        </a>
      </mat-tree-node>

      <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
        <li>
          <div class="mat-nested-tree-node-div">
            <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle' + node.name" class="mat-nested-tree-node-button">
              <mat-icon class="mat-icon-rtl-mirror mat-nested-tree-node-icon">{{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}</mat-icon>
              <a class="button-title" href="{{node.link}}" title="{{node.name}}" class="link">{{node.name}}</a>
            </button>
            
          </div>
          <ul [class.tree-invisible]="!treeControl.isExpanded(node)">
            <ng-container matTreeNodeOutlet></ng-container>  
          </ul>
        </li>
      </mat-nested-tree-node>
    </mat-tree>

  </mat-sidenav>
  <mat-sidenav-content>

    <div class="main-content">
      <router-outlet></router-outlet>
      <!-- Here goes the page content-->
    </div> 

  </mat-sidenav-content>
</mat-sidenav-container>
