<mat-toolbar class="sidenav-content-toolbar">
	<span class="toolbar-title">{{title}}</span>
</mat-toolbar>

<div class="page-content two-rows">
	<mat-grid-list rowHeight="200px" cols="2" gutterSize="25px" class="grid">
	<mat-grid-tile class="grid-tile" *ngFor="let country of countries" [colspan]="country.cols">
		<div [routerLink]="!(country.link)?country.title.toLowerCase():country.link" class="grid-tile-content">
			<img [src]="country.img.src" [alt]="country.title">
			<span class="grid-tile-link">{{country.title}}</span>
		</div>
	</mat-grid-tile>
</mat-grid-list>
</div>